.a {
  position: absolute;
  left: 0;
  display: block;
  align-self: center;
  color: #fff;
  font-family: element-icons !important;
  speak: none;
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  animation: '12' 1s;
  -webkit-animation: '12' 1s;
  text-transform: none;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.b{
  border-color: transparent;
  font-size: 12px;
  line-height: 22px;
  height: 22px;
  min-width: 22px;
}